.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* .table-cell {
  border: 2px solid black;
  padding: 0px;
} */

/* Table styling */

body {
  background: linear-gradient(135deg, #c9e3ff, #63a2e2);
  padding: 20px;
  border-radius: 10px;
  height: 100vh;
  overflow-y: hidden;
}
.main-container {
  display: grid;
  align-items: center;
}

table {
  border-collapse: collapse;

  width: 70%;
  min-width: 250px;
  max-width: 1200px;
  margin: 20px auto;
}

table td {
  border: 1px solid black;
  padding: 15px;
  text-align: center;
  background-color: white;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.button-container button,
select {
  background-color: #4c9aff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.button-container button:hover,
select {
  background-color: #2671c1;
}

.button-container .color-preview {
  width: 30px;
  height: 30px;
  border: 1px solid #000;
  margin-right: 10px;
}
